In [1]:
#sqlite :its represented by a file.
#no client communication.connect direct witout. any configuration
#pretty straigt forward

import sqlite3

connection = sqlite3.connect('sample.db')

table = 'CREATE TABLE people(id int primary key, name TEXT, surname TEXT)'

cursor = connection.cursor()
cursor.execute(table)
connection.commit()

OperationalError: table people already exists

In [ ]:
# SQLite can run in-memory, no file will be created, and when the program ends, the database goes away
import sqlite3
connection = sqlite3.connect(':memory:')

In [ ]:
#There are two steps for executing the query. First we use the cursor to execute it, and then we commit the result to the database.

#cursor = connection.cursor()
#cursor.execute(table)
#connection.commit()

In [4]:
#instal a library called faker to generate random  date
!pip install faker
#elps to generate some random names into our db

Collecting faker
  Obtaining dependency information for faker from https://files.pythonhosted.org/packages/c8/3d/ed83cf090e31f5ef4d191a2e25500fc65281fb46d45f0cc224fd0f48b435/Faker-24.0.0-py3-none-any.whl.metadata
  Downloading Faker-24.0.0-py3-none-any.whl.metadata (15 kB)
Requirement already satisfied: python-dateutil>=2.4 in /Users/tla/anaconda3/lib/python3.11/site-packages (from faker) (2.8.2)
Requirement already satisfied: six>=1.5 in /Users/tla/anaconda3/lib/python3.11/site-packages (from python-dateutil>=2.4->faker) (1.16.0)
Downloading Faker-24.0.0-py3-none-any.whl (1.8 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.8/1.8 MB 795.2 kB/s eta 0:00:00a 0:00:01
Installing collected packages: faker
Successfully installed faker-24.0.0

In [2]:
from faker import Faker
fake = Faker()

names = [fake.name().split() for i in range(100)]
names = [name for name in names if len(name) == 2]
names

[['Matthew', 'Turner'],
 ['Kristopher', 'Crawford'],
 ['Christina', 'Jenkins'],
 ['Jorge', 'Johnson'],
 ['Justin', 'Jones'],
 ['Ann', 'Carr'],
 ['Amy', 'Sandoval'],
 ['Jesse', 'Schmidt'],
 ['Cody', 'West'],
 ['Justin', 'Williamson'],
 ['Gary', 'Morgan'],
 ['Jasmine', 'Martinez'],
 ['Jacqueline', 'Williams'],
 ['Tamara', 'Grant'],
 ['Deanna', 'Parrish'],
 ['Amber', 'Hernandez'],
 ['David', 'Woods'],
 ['Dawn', 'Bates'],
 ['Jasmine', 'Butler'],
 ['Michael', 'Blackburn'],
 ['Matthew', 'Johnson'],
 ['Timothy', 'Sims'],
 ['Alyssa', 'Booth'],
 ['Kevin', 'Berg'],
 ['Nicholas', 'Johnson'],
 ['Linda', 'Baker'],
 ['Ryan', 'Fisher'],
 ['Kimberly', 'Barnes'],
 ['Melissa', 'Hill'],
 ['Jordan', 'Hudson'],
 ['Cindy', 'Holden'],
 ['Julie', 'Adams'],
 ['Russell', 'Johnson'],
 ['Jennifer', 'Andersen'],
 ['Jane', 'Mcconnell'],
 ['Kristina', 'Mills'],
 ['Brad', 'Collins'],
 ['Joan', 'Taylor'],
 ['Megan', 'Brown'],
 ['Nicole', 'Pham'],
 ['Brendan', 'Martinez'],
 ['Donna', 'Moreno'],
 ['David', 'Clements'],
 ['Jeffrey', 'Jordan'],
 ['Meredith', 'Gallegos'],
 ['Jeffery', 'Mahoney'],
 ['Joseph', 'Sandoval'],
 ['Ian', 'Beck'],
 ['Elizabeth', 'Bowers'],
 ['William', 'Sanders'],
 ['Jason', 'Garrett'],
 ['Misty', 'Harrington'],
 ['Joseph', 'Reese'],
 ['Bryan', 'Hinton'],
 ['Erika', 'Allen'],
 ['Christopher', 'Hernandez'],
 ['James', 'Walsh'],
 ['Ryan', 'Wagner'],
 ['Laura', 'Smith'],
 ['Jennifer', 'Williams'],
 ['William', 'Fisher'],
 ['Andrew', 'Griffin'],
 ['Kelly', 'Henderson'],
 ['Jessica', 'Key'],
 ['Matthew', 'Parker'],
 ['Wanda', 'Tran'],
 ['Sandra', 'Gibson'],
 ['Kelly', 'Long'],
 ['Gloria', 'Peterson'],
 ['Alejandro', 'Lewis'],
 ['Megan', 'Roy'],
 ['Rachel', 'Morales'],
 ['Patrick', 'Burke'],
 ['Adam', 'Weber'],
 ['Steve', 'Medina'],
 ['David', 'Wong'],
 ['Daniel', 'Hunt'],
 ['Keith', 'Gallagher'],
 ['Kevin', 'Kennedy'],
 ['Victoria', 'Reyes'],
 ['Julie', 'Hansen'],
 ['Craig', 'Jones'],
 ['Natalie', 'Gibson'],
 ['Dalton', 'King'],
 ['Amy', 'Weaver'],
 ['Robert', 'Aguirre'],
 ['Justin', 'Hood'],
 ['Leslie', 'Humphrey'],
 ['Jeremy', 'Warren'],
 ['Nicholas', 'Palmer'],
 ['Fernando', 'Johnson'],
 ['Sarah', 'Fields'],
 ['Leah', 'Adkins'],
 ['Steve', 'Griffin'],
 ['Stephanie', 'Martin'],
 ['Catherine', 'Humphrey']]

In [3]:
import sqlite3
connection = sqlite3.connect("sample.db")

In [5]:
insert_query = 'INSERT INTO people(name, surname) VALUES(? ,?)'
cursor = connection.cursor()
for name in names:
    cursor.execute(insert_query, name)
connection.commit()

In [6]:
select_query = 'SELECT * from people limit 10'
for i in cursor.execute(select_query):
    print(i)

(None, 'Matthew', 'Turner')
(None, 'Kristopher', 'Crawford')
(None, 'Christina', 'Jenkins')
(None, 'Jorge', 'Johnson')
(None, 'Justin', 'Jones')
(None, 'Ann', 'Carr')
(None, 'Amy', 'Sandoval')
(None, 'Jesse', 'Schmidt')
(None, 'Cody', 'West')
(None, 'Justin', 'Williamson')